.NoteDetail {
  height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.NoteDetail form {
  width: 100%;
}

.NoteDetail form > * {
  width: 100%;
  margin: 0.3rem;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.NoteField {
  height: 80vh;
}
