.Auth {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form {
  min-width: 315px;
  width: 65%;
  max-width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.3);
}

.Auth h1 {
  color: var(--main-background-color);
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.LoginButton {
  color: var(--main-background-color);
  font-weight: bold;
  border: 1px solid gray;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 110px;
}

.ErrorMessageArea {
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 1.1rem;
  margin-left: 1rem;
  position: relative;
  color: var(--main-error-color);
  font-size: 0.7rem;
}

.ErrorMessageArea p {
  margin: 0;
  position: absolute;
}

.ServerErrorMessageArea {
  width: 100%;
  height: 19px;
  margin: 8px 0;
  position: relative;
  color: var(--main-error-color);
  text-align: center;
}

.ServerErrorMessageArea p {
  width: 100%;
  margin: 5px 0;
  position: absolute;
}
