@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
  --main-background-color: #464646;
  --main-error-color: rgb(240, 50, 30);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

h1 {
  margin: 0;
}

input {
  font: inherit;
  border: none;
  outline: none;
}

button {
  font: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}
